body {color: rgb(0, 0, 0);
    background-image: url(./img/pantano.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;



    font-family: Arial, Helvetica, sans-serif;
}

ul
{
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 16px;
    }
   
a {
color: white;
text-decoration:none;
}

header img {width: 150px;
      height: 150px;
    border-radius: 50% ;
    border: 5px  solid olive;
}

.center {
 
text-align: center;

}

h1 { color: olive;}

.container {
    padding: 0px 50px;}

    nav a:hover {color: olive;}

    footer img  {

        width: 40px;
         height: 40px;
    }
    
h3 {color: olive}
p{color: black;}
.texto{color: black;}