@import url(index.html);


body {color:white;
    background-image: url(./img/pantano.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;



    font-family: Arial, Helvetica, sans-serif;
}

ul
{
    align-items: center;
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 16px;                  
    }
   
a {
color: white;
text-decoration:none;
}

header div img {width: 150px;
      height: 150px;
    border-radius: 50% ;
    border: 5px  solid rgb(133, 221, 0);
}

.center {
 
text-align: center;

}

h1 { color:rgb(131, 221, 40);}

.container {
    align-items: center;
    
    
    


    padding: 0px 50px;}

    nav a:hover {color: rgb(93, 226, 4);}

    footer img  {
        align-items: center;
        width: 40px;
         height: 40px;

    }
    
h3 {color:greenyellow}
p{color:white;}
.texto {font-size: 24px;
font-weight: bold;
color: white;
text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}

footer {
    display: flex;
    justify-content: center;
    
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p  {
    margin-top: 2px;
    text-align: center;
    color:white;
    text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black; ;
}

.subtitulo {font-size: 24px;
    font-weight: bold;
    color: rgb(93, 226, 4);
    text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;}

    .tt {font-size: 20px;
        font-weight: bold;
        color: white;
        text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
        nav a :hover {color: rgb(93, 226, 4)
    }

    .cabeçalho_menu-hamburguer{
    width: 17px;
    height: 17px;
    background-image: url(./img/bootão\ png.png);
    display: inline-block;

    }

   
    .gg {
display: inline-block;
width: 240px;
height: 24px;

    }
    img src: height: 24px;